extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
block body
	//- Phhần Banner
	section.home-slider
		.owl-carousel.owl-theme
			.item
				figure
					img.img-fluid.w-100(src="./img/home_slider_1.png", alt="", srcset="")
			.item
				figure
					img.img-fluid.w-100(src="./img/home_slider_2.png", alt="", srcset="")
			.item
				figure
					img.img-fluid.w-100(src="./img/home_slider_3.png", alt="", srcset="")
	//-Phần Dịch Vụ
	//- Sản Phẩm Mới Nhất
	section.home_service
		.container
			.row
				.col
					h2 Nổi Bật
			.row.sevice-balace
				.col-md-8.space
					.owl-carousel.owl-theme
						.item
							figure
								img.img-fluid.w-100.c-319(src="./img/home_lens_1.png", alt="", srcset="")
						.item
							figure
								img.img-fluid.w-100.c-319(src="./img/home_lens_2.png", alt="", srcset="")
						.item
							figure
								img.img-fluid.w-100.c-319(src="./img/home_lens_3.png", alt="", srcset="")
				.col-6.col-md-4.space
					.hovereffect
						img.img-responsive.w-100.img-fluid(src='./img/home_lens_4.png', alt='')
						.overlay
							h2 Yến Xào Bình Thuận
							a.info(href='product-detail.html') Mua Ngay
							h3 10.000.000Vnđ
				.col-6.col-md-4.space
					.hovereffect
						img.img-responsive.w-100.img-fluid(src='./img/home_lens_1.png', alt='')
						.overlay
							h2 Yến Xào phan Rí
							a.info(href='product-detail.html') Mua Ngay
							h3 3.000.000 VNĐ
				.col-6.col-md-4.space
					.hovereffect
						img.img-responsive.w-100.img-fluid(src='./img/home_lens_2.png', alt='')
						.overlay
							h2 Yến Xào Nha Trang
							a.info(href='product-detail.html') Mua Ngay
							h3 3.000.000 VNĐ
				.col-6.col-md-4.space
					.hovereffect
						img.img-responsive.w-100.img-fluid(src='./img/home_lens_3.png', alt='')
						.overlay
							h2 Yến Xào Bà Rịa
							a.info(href='product-detail.html') Mua Ngay
							h3 3.000.000 VNĐ
	//- Sản Phẩm Nổi Bật
	section.home_lens
		.container
			h2.m-0.pa-5 Sản Phẩm Bán Chạy
			.row
				.col-lg-3.col-md-4.col-6.mt
					.hovereffect2
						img.img-responsive(src='./img/home_lens_3.png', alt='')
						.overlay
						h2 Yến Xào Nâu
						p.abc là tự hào của người bình thuận được sự ưu đãi của tạo hóa và nhiều động tạo nên món Yến đậm chất vùng biển
						a(href='product-detail.html') LINK HERE
				.col-lg-3.col-md-4.col-6.mt
					.hovereffect2
						img.img-responsive(src='./img/home_lens_1.png', alt='')
						.overlay
						h2 Yến Xào Nguyên Chất 80%
						p.abc Yến Xào khi lấy về và loại được tạp chất và do yến trong tự nhiên nên có nhiều tạp chất nên lấy được 70% 
						a(href='product-detail.html') LINK HERE
				.col-lg-3.col-md-4.col-6.mt
					.hovereffect2
						img.img-responsive(src='./img/home_lens_2.png', alt='')
						.overlay
						h2 Yến Xào Yến Xào 90%
						p yến xào khi lấy về lấy tạp chất giữ lại dc 90% thành phần dinh dưỡng của của tổ yến
						a(href='product-detail.html') LINK HERE
				.col-lg-3.col-md-4.col-6.mt
					.hovereffect2
						img.img-responsive(src='./img/home_service_4.png', alt='')
						.overlay
						h2 Yến Xào Chén	
						p.abc yến xào Dược lấy về sử lý Thêm một ít dường phèn và một ít nước sen làm nên chén yến đầy đầy yêu thương
						a(href='product-detail.html') LINK HERE
			img.img-fluid.w-100.banner2(src='http://thietkewebchuyennghiep.edu.vn/wp-content/uploads/2016/12/web-ban-to-yen-768x210.png', alt='banner')
	//- Cảm Nhận Của Khách Hàng
	section.canhcam-testimonials-1
		.container
			.row
				.col
					.testimonial-slider.owl-carousel
						//- .owl-theme
						figure.item
							img.customer(src='./img/avatar-large-1.png', alt='sq-sample10')
							figcaption
								blockquote
									| yến sào Thuận nam là nơi tin tưởng của nhiều gia đình trong đó có tôi và gia đình tôi với giá cả vửa phải phục vụ tận tình nhân viên chuyên nghiệp
								.author
									h5.mt-4
										| Lê Sĩ
										span Việt Nam
						figure.item
							img.customer(src='./img/avatar-large-2.jpg', alt='sq-sample10')
							figcaption
								blockquote
									| Yến Xào Thuận nam là nơi mà chất lượng nhất mà mà tôi từng xài với giá cả phải chăn vs phục vụ như một hoàng tộc
								.author
									h5.mt-4
										| Lạc Bình
										span Việt Nam
