extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
block body
	//- Phhần Banner
	section.home-slider
		.owl-carousel.owl-theme
			.item
				figure
					img.img-fluid.w-100(src="./img/home_slider_1.png", alt="", srcset="")
			.item
				figure
					img.img-fluid.w-100(src="./img/home_slider_2.png", alt="", srcset="")
			.item
				figure
					img.img-fluid.w-100(src="./img/home_slider_3.png", alt="", srcset="")
	//-Phần Dịch Vụ
	section.home_service
		.container
			.row.sevice-balace
				.col-md-8
					.owl-carousel.owl-theme
						.item
							figure
								img.img-fluid.w-100(src="./img/home_service_5.png", alt="", srcset="")
						.item
							figure
								img.img-fluid.w-100(src="./img/home_service_5.png", alt="", srcset="")
						.item
							figure
								img.img-fluid.w-100(src="./img/home_service_5.png", alt="", srcset="")
				.col-sm-6.col-md-4
					figure
						img.img-fluid.w-100(src="./img/home_service_4.png", alt="", srcset="")
						figcaption
							h6 Moisture - Bubble Gray
							p 290.000Vnđ
				.col-sm-6.col-md-4
					figure
						img.img-fluid.w-100(src="./img/home_service_3.png", alt="", srcset="")
						figcaption
							h6 Moisture - Bubble Gray
							p 290.000Vnđ
				.col-sm-6.col-md-4
					figure
						img.img-fluid.w-100(src="./img/home_service_2.png", alt="", srcset="")
						figcaption
							h6 Moisture - Bubble Gray
							p 290.000Vnđ
				.col-sm-6.col-md-4
					figure
						img.img-fluid.w-100(src="./img/home_service_1.png", alt="", srcset="")
						figcaption
							h6 Moisture - Bubble Gray
							p 290.000Vnđ
	section.home_lens
		.container
			H2 Top Pieces On Sale
			.row
				.col-md-3
					figure
						img.img-fluid.w-100(src="./img/home_lens_1.png", alt="", srcset="")
						ficaption
							h6 Mazio Ozawa
							p 50.000vnd
							button.btn.btn-primary contact
				.col-md-3
					figure
						img.img-fluid.w-100(src="./img/home_lens_2.png", alt="", srcset="")
						ficaption
							h6 Mazio Ozawa
							p 50.000vnd
							button.btn.btn-primary contact
				.col-md-3
					figure
						img.img-fluid.w-100(src="./img/home_lens_3.png", alt="", srcset="")
						ficaption
							h6 Mazio Ozawa
							p 50.000vnd
							button.btn.btn-primary contact
				.col-md-3
					figure
						img.img-fluid.w-100(src="./img/home_lens_4.png", alt="", srcset="")
						ficaption
							h6 Mazio Ozawa
							p 50.000vnd
							button.btn.btn-primary contact
				figure.backgroud
					img.img-fluid.w-100.h-100(src="./img/home_baner_1.png", alt="", srcset="")
					figcaption.content
						h3 Grand Opening
						p 179D CMT8, P.5, Q3. Tp.HCM
						button.btn View more

