extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Detail'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
block body
	//- Phhần Banner
	section.canhcam-shop-details-2
		article.product-details
			.container
				.row.d-flex
					.col-md-5.order-md-2.mb-4.infomation
						h1 Yến Xào Bình Thuận
						.all-price
							span.price 10.000.000Vnđ
							del 9.000.000 Vnd₫
						hr
						.html là một món ăn truyền thông được sử dụng trong hoàng tộc với nhiều dinh dưỡng của loài yến
						hr
						h3.h3.mt-3 Số lượng
						.form-inline#quantity
							.form-group
								input(value="1")
							.form-group.mx-sm-3
								button.btn.btn-primary Mua
						h3.h3.mt-3 Đinh Dưỡng
						table.table.table-bordered
							tbody
								tr
									td Đạm
									td.text-bold 15%
								tr
									td sắt
									td.text-bold 20%
								tr
									td Protein
									td.text-bold 65%
					.col-md-7.order-md-1
						img(src="./img/home_service_3.png", alt="")
	//- Banner
	section.canhcam-boxes-17
		.container
			.feature
				.row
					.col-xs-12.col-md-4.item
						.feature-col
							figure
								.icon
									em.fa.fa-truck
								figcaption
									p.title Giao hàng
									p.title Toàn quốc
					.col-xs-12.col-md-4.item
						.feature-col
							figure
								.icon
									em.fa.fa-usd
								figcaption
									p.title Bảo hành quốc tế
									p.des Theo chính sách của nhãn hàng
					.col-xs-12.col-md-4.item
						.feature-col
							figure
								.icon
									em.fa.fa-phone
								figcaption
									p.title Hotline miễn phí
									p.des 18006360
	//- Sản Phẩm Hot
	section.canhcam-carousel-2#canhcam-carousel-2
	.container
		.row.canhcam-carousel-2
			.col.text-center
				h2.h2.mb-5 Products
		.row
			.col.carousel-2
				article.owl-carousel.owl-theme.list-items
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/home_service_3.png', alt='')
								figcaption
									h3 Yến Xào KHánh Hòa
									.price 350.000VND
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/home_service_3.png', alt='')
								figcaption
									h3 Yến Xào Đỏ Thuận Nam
									.price $15.68
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/home_service_3.png', alt='')
								figcaption
									h3 Yến Xào Đỏ Thuận nam
									.price 350.000 Vnđ
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/home_service_3.png', alt='')
								figcaption
									h3 Yến Xào đỏ thuận nam
									.price 350.000 Vnđ
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/home_service_3.png', alt='')
								figcaption
									h3 Yến Xào Ninh Thuận
									.price 350.000 Vnđ
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/home_service_3.png', alt='')
								figcaption
									h3 Yến Xào Ninh Thuận
									.price $15.68
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/home_service_3.png', alt='')
								figcaption
									h3 Yến Xào Ninh Thuận
									.price $15.68
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/home_service_3.png', alt='')
								figcaption
									h3 Yến Xào Ninh Thuận
									.price $15.68
