extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Detail'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
block body
	//- Phhần Banner
	section.canhcam-shop-details-2
		article.product-details
			.container
				.row.d-flex
					.col-md-5.order-md-2.mb-4.infomation
						h1 Nike Dri-Fit 1/2-Zip Top 639883 1/2-Zip Top 639883
						.all-price
							span.price 16.990.000 ₫
							span  -
							span.price-out 17.990.000 ₫
						hr
						.html Nike Golf Shirt with zip-up collar up to the chin in Dri-FIT sweat-wicking fabric Stretch inserts Contrasting details Body: Dri-FIT 100% polyester Upper body: 90% polyester, 10% elastane Machine washable
						hr
						h3.h3.mt-3 QUANTITY
						.form-inline#quantity
							.form-group
								input(value="1")
							.form-group.mx-sm-3
								button.btn.btn-primary Add to cart
						h3.h3.mt-3 UNIT
						table.table.table-bordered
							tbody
								tr
									td kljkl
									td.text-bold kljkl
								tr
									td kljkl
									td.text-bold kljkl
								tr
									td kljkl
									td.text-bold kljkl
					.col-md-7.order-md-1
						img(src="./img/home_service_3.png", alt="")
	//- Banner
	section.canhcam-boxes-17
		.container
			.feature
				.row
					.col-xs-12.col-md-4.item
						.feature-col
							figure
								.icon
									em.fa.fa-truck
								figcaption
									p.title Giao hàng
									p.title Toàn quốc
					.col-xs-12.col-md-4.item
						.feature-col
							figure
								.icon
									em.fa.fa-usd
								figcaption
									p.title Bảo hành quốc tế
									p.des Theo chính sách của nhãn hàng
					.col-xs-12.col-md-4.item
						.feature-col
							figure
								.icon
									em.fa.fa-phone
								figcaption
									p.title Hotline miễn phí
									p.des 18006360
	//- Sản Phẩm Hot
	section.canhcam-carousel-2#canhcam-carousel-2
	.container
		.row.canhcam-carousel-2
			.col.text-center
				h2.h2.mb-5 Products
		.row
			.col.carousel-2
				article.owl-carousel.owl-theme.list-items
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/home_service_3.png', alt='')
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing
									.price $15.68
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/home_service_3.png', alt='')
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing
									.price $15.68
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/home_service_3.png', alt='')
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing
									.price $15.68
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/home_service_3.png', alt='')
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing
									.price $15.68
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/home_service_3.png', alt='')
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing
									.price $15.68
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/home_service_3.png', alt='')
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing
									.price $15.68
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/home_service_3.png', alt='')
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing
									.price $15.68
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/home_service_3.png', alt='')
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing
									.price $15.68
