
//////////////////////Phần Header////////////////////////////////////
header
	position: fixed
	width: 100%
	opacity: 0.8
	z-index: 2
	span
		color: #d8b978
	.navbar-light .navbar-nav .active > .nav-link
		color: #d8b978
	.navbar-light .navbar-nav .nav-link
		color: lighten(#d8b978,10%)

+media-breakpoint-up(md)
	header
		// position: fixed
		z-index: 1000
		.navbar-light .navbar-nav .nav-link
			transition: 0.3s all ease-in-out
			&:hover
				color: #d8b978
				text-decoration: underline
			
////////////////////////////////////////////////////////////////////
/////////////////////////////Body///////////////////////////////////
.home-slider
	
	
.home_service
	+center(#fff,#000000)

	figure
		position: relative
		figcaption
			position: absolute
			width: 80%
			right: 10%
			background: #fff
			bottom: 10%
			padding-top: 1rem
			opacity: 0
			&:hover
				opacity: 1
				transition: 1s ease-in-out
			+media-breakpoint-down(sm)
				opacity: 1


	+media-breakpoint-up(md)
		.sevice-balace
			margin-bottom: 30px
	.img-fluid
		+media-breakpoint-down(sm)
			padding-bottom: 3rem
.home_lens
	+center(#f3f4f7,#000000,800px)
	.btn-primary
		padding: 0.8rem 5rem
		background: #3c4d93
		border-color: #3c4d93
		opacity: 0
		&:hover
			opacity: 1
		+media-breakpoint-down(sm)
				opacity: 1
	.backgroud
		position: relative
		.content
			width: 80%

			position: absolute
			text-align: left
			left: 20%
			top: 20%
			.btn
				color:#efd6c0
				background: #000
				padding: 10px 23px
				+media-breakpoint-down(md)
					display: none



.home_product 
	+center(#fff,#000000,800px)
	.col-md-4
		figure
			position: absolute
			right: 100px
			top: 250px
			+media-breakpoint-down(sm)
				position: relative
				right: 0
				top: 0
				padding: 1rem 3rem
			figcaption
				.btn-primary 
					color: #3c4d93
					border-color: #3c4d93
					padding: 20px 75px
					background-color: #fff
//////////////////////Body PC///////////////////
+media-breakpoint-up(md)
	.sevice-balace
		.col-md-8
			position: relative
			//tắt background của button//
			.owl-theme .owl-nav [class*=owl-]
				&:hover
					background: none
			button
				position: absolute
				top: 50%
				transform: translateY(-50%)
				i
					font-size: xx-large
					font-weight: bold
					color: white
					transition: 0.3s all ease-in-out
					&:hover,
					&:active
						color: #d8b978
			.owl-prev
				left: 2%
			.owl-next
				right: 2%
////////////////////////////////////////////////
////////////////////////////////////////////////
///////////////////////FOOTER///////////////////


.canhcam-footer-1
	background-color: darken(color-get($mau,trang) ,85%)
	position: relative
	z-index: 1
	color: darken(color-get($mau,trang) ,50%)
	overflow: hidden
	+media-breakpoint-down(xs)
	h4
		text-transform: uppercase
		color: #d8b978
		position: relative
		+fz(1rem)
		margin-bottom: 1.5rem
		&:after
			width: 40px
			height: 1px
			background: #d8b978
			content: ''
			display: block
			+pos(abs, null null -10px 0)

	.linkfooter
		padding: 3rem 0 2rem
		.list-group
			.list-group-item
				display: inline-block
				+bg(none, none, none)
				border: 0
				+pad(.5rem 0)
				+media-breakpoint-up(md)
					+pad(.15rem 0)
				a
					font-size: .9rem
					+link(darken(color-get($mau,trang),15%),#d8b978,#d8b978)
		.socials
			h4
				&:after
					+pos(abs, null null -10px 50%)
					+transform(translateX(-50%))
					+media-breakpoint-up(md)
						+pos(abs, null null -10px 50%)
						+transform(translateX(-50%))
					+media-breakpoint-up(lg)
						+pos(abs, null null -10px 0)
						+transform(translateX(0))
			.social-list
				+media-breakpoint-down(sm)
					+mar(2rem null null null)
				.list-inline
					+mar(0)
					.list-inline-item
						+fz(.9rem)
						+link(darken(color-get($mau,trang), 85%), color-get($mau,trang), color-get($mau,trang))
						+mar(null 1rem null null)
						a
							display: block
							height: 2rem
							width: 2rem
							+lh(rem)
							+bg(darken(color-get($mau,trang),40%), #d8b978,#d8b978)
							+link(darken(color-get($mau,trang),85%), darken(color-get($mau,trang),0%))
							+border-radius(50%)
							text-align: center
							transition: 0.3s all ease-in-out
							&:hover
								+border-radius(25%)
							i
								+lh(2rem)
						&:last-child
							+mar(0)
						
	.copyright
		padding: 1rem
		background-color: darken(color-get($mau,trang) ,95%)
///////////////////////////////////////////////////////////////////////////////////////
